*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --dark-900: #101026;
  --dark-700: #1d1d2e;
}

.app{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-900);
}